body{
background-color: rgb(34, 235, 16) ;
color: rgb(20, 131, 228);
}
.heading{
width: 80%;
font-size: 22px;
}
#camera{border: 2px dashed black;
width: 350px;
height:300px;       
}
.name_of_objects,#result_object_name,#result_object_accuracy{color: rgb(235, 164, 34)255, 166, 0);}